.app {
  text-align: center;
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
}

.header {
  margin-top: 2em;
  margin-bottom: 2em;
}

.header h1 {
  color: white;
}

.header button {
  border-color: grey;
  background-color: grey;
  color: black;
}

.header button:hover {
  border-color: white;
  background-color: white;
  color: black;
}

.content {
  margin-bottom: 4em;
}

.content-empty {
  margin-top: 4em;
}

.footer {
  text-align: center;
}

.footer-links {
  margin: 15px;
}